<section class="w-100 vh-100 bg-lightblue">
  <div class="background w-100">
    <div class="pb-4"></div>
    <i (click)="dismiss()" class="bi bi-chevron-left curson-p mx-3"></i>
  </div>
  <div class="px-3 detail">
    <div
      class="profile-pic mb-2 mx-auto"
      style="background-image: url('../../../../assets/images/avatar.jpg')"
    ></div>
    <div class="name text-center mx-auto">
      <h3 class="text-color-primary mb-3">Syed Haroon Khan</h3>
      <p class="text-color-secondary">BS(CS)</p>
    </div>
    <div class="card mt-4 border-0 border-16 w-100">
      <div class="card-body">
        <div class="mb-3">
          <i class="bi bi-envelope-at me-1"></i> haroonkhan@gmail.com
        </div>
        <div class="mb-3"><i class="bi bi-phone me-1"></i> 0313 1594597</div>
        <div class="mb-3">
          <i class="bi bi-backpack me-1"></i> Computer Science Department
        </div>
        <div><i class="bi bi-person me-1"></i> Male</div>
      </div>
    </div>
    <div class="d-flex mt-3">
      <button (click)="dismiss()" class="btn-primary border-8 flex-fill me-2">
        Go Back
      </button>
      <button class="btn-secondary-outline flex-fill">Edit Profile</button>
    </div>
  </div>
</section>
